<a href="https://colab.research.google.com/github/muhendis/dev-pykasif/blob/master/FeatureSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cd /content/drive/MyDrive/dikey eksen/code

/content/drive/MyDrive/dikey eksen/code

In [2]:
from assistant.featureselection import FeatureSelection
from sklearn.datasets import load_boston
import pandas as pd
import matplotlib.pyplot as plt

# 1. Veri Hazırlama

In [3]:
boston = load_boston()
df_data = pd.DataFrame(boston.data, columns=boston.feature_names)
df_fiyat =  pd.DataFrame(boston.target, columns=["PRICE"])
df = pd.concat([df_data, df_fiyat],axis=1)

In [4]:
df

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0    0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1    0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2    0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3    0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4    0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67   22.4
502  0.04527   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08   20.6
503  0.06076   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64   23.9
504  0.10959   0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48   22.0
505  0.04741   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88   11.9

[506 rows x 14 columns]

In [5]:
continuous_variables = ['CRIM', 'ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'TAX',
       'PTRATIO', 'B', 'LSTAT']
categorical_variables = ['CHAS', 'RAD']
target = "PRICE"

In [6]:
categorical_variables

['CHAS', 'RAD']

In [7]:
continuous_variables

['CRIM',
 'ZN',
 'INDUS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT']

#2. Nesneyi Oluşturma

In [8]:
fc=FeatureSelection(df, continuous_variables,
               categorical_variables,
               target)

## 2.1 Öznitelik seçimi için Korelasyon

In [9]:
fc.correlation(threshold_for_target=0.5)

Hedef değişken ile korelasyonu yüksek olan değişkenler :
 RM         0.695360
PTRATIO   -0.507787
LSTAT     -0.737663
Name: PRICE, dtype: float64


Diğer değişkenlerin kendi aralarındaki korelasyon :
                RM   PTRATIO     LSTAT
RM       1.000000 -0.355501 -0.613808
PTRATIO -0.355501  1.000000  0.374044
LSTAT   -0.613808  0.374044  1.000000

## 2.2 Öznitelik seçimi için ANOVA

In [10]:
fc.ANOVA_test(variable="RAD")

##### ANOVA Sonucu #####

RAD ,  PRICE ile ilişkilidir. | P-Value: 3.1256493316010175e-24

## 2.2 Öznitelik seçimi için Ki-Kare Testi

Chi-Square Testini ,PRICE sürekli değişkeni üzerinde incelemek için  uygun 
değil, bunu için başka bir tane veriseti kullanacağız.

In [18]:
cancel = []

male_cancel_yes=["YES"]*35
male_cancel_no=["NO"]*175
cancel.extend(male_cancel_yes)
cancel.extend(male_cancel_no)

female_cancel_yes=["YES"]*40
female_cancel_no=["NO"]*145
cancel.extend(female_cancel_yes)
cancel.extend(female_cancel_no)

male = ["male"]*(35+175)
female = ["female"]*(40+145)
gender = []
gender.extend(male)
gender.extend(female)

df = pd.DataFrame({"GENDER":gender,"CANCEL":cancel})

In [19]:
df

     GENDER CANCEL
0      male    YES
1      male    YES
2      male    YES
3      male    YES
4      male    YES
..      ...    ...
390  female     NO
391  female     NO
392  female     NO
393  female     NO
394  female     NO

[395 rows x 2 columns]

In [20]:
continuous_variables=[]
categorical_variables=["GENDER"]
target = "CANCEL"
fc=FeatureSelection(df, continuous_variables,
               categorical_variables,
               target)

In [21]:
fc.chi2_contingency("GENDER")

GENDER ,  CANCEL ile ilişkili değildir. | P-Value: 0.26084926258223934